<p>ID: <%= user.id %></p>
<p>Username: <%= user.username %></p>
<p>Name: <%= user.displayName %></p>

<p><%= JSON.stringify(user) %></p>
<p><%= friends.data.length %></p>
<p><%= friends.paging.next %></p>
<% for(var i = 0; i < friends.data.length; i++) { %>
	<li><%= friends.data[i].name %></li>
	<li><%= friends.data[i].id %></li>
<% } %>
